/*Skilgreinum body */

body {
  margin:0;

}



/*Hérna getur .... */
aside {
  background-image: paint(myPaintedImage);
}

/*Skilgreinum leturstillingar*/
@font-face {
  font-family:Arial, Helvetica, sans-serif ;
  src: url();
}

/*Skilgreinum leturgerð í header */
h1 {
  font-family: var(--font-family-heading);
}


/*Stillingar á header */
.header{
  position:absolute;
  width:500px;
  height:50px;
  top:7rem;
  left:17rem;
}


/* Takki á forsíðu útfærður */
.Menutakki{
  position:sticky;
  width: 300px;
  height: 50px;
  top: 7rem;
  left: 17rem;
  background-color: rgba(255, 228, 196, 0.5);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}


/*Takki á Canvas html skilgreindur */
.linkur{
  position:absolute;
  width: 70px;
  height: 25px;
  top: 1rem;
  left: 1rem;
  background-color: rgba(255, 228, 196, 0.5);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}


/* útlitsstillingar fyrir Canvas html*/
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}